@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <form class="pt-2" method="post" id="@Html.NameFor(m => m.SearchForm)">

            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label>Search for:</label>
                                <select asp-for="SearchForm.SearchFor" class="select2" style="width: 100%;">
                                    <option value="1">Vin identification</option>
                                    <option value="2">Vin identification values</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Manufacturer:</label>
                                <select asp-for="SearchForm.Manufacturer" class="select2" style="width: 100%;">
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Model year:</label>
                                <input asp-for="SearchForm.ModelYear" type="number" class="form-control"
                                       placeholder="@DateTime.Today.ToString("yyyy")">

                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Result type:</label>
                                <select asp-for="SearchForm.ResultType" class="select2" style="width: 100%;">
                                    <option value="1" selected>JSON</option>
                                    <option value="2">XML</option>
                                    <option value="3">CSV</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <input asp-for="SearchForm.Term" type="search"
                                   class="form-control form-control-lg"
                                   placeholder="@(Html.DisplayNameFor(x => x.SearchForm.Term))" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    @if (!ModelState.IsValid)
                    {
                        <div class="callout callout-danger p-1">
                            <ul class="list-unstyled mb-0">
                                @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <li><i class="fas fa-warning"></i> @error.ErrorMessage</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </form>

        @{
            if (HttpContext.Request.Method == "POST"
            && (Model.VinResults?.Count() > 0 || Model.VinValuesResults?.Count() > 0))
            {
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Search Criteria :
                                    <span class="badge badge-info">@(ViewData["SearchCriteria"] ?? "Any")</span>
                                </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                @{
                                    if (@ViewData["Message"] is not null)
                                    {
                                        <div class="callout callout-danger p-1 pl-3 pr-3">
                                            <p>@ViewData["Message"]</p>
                                        </div>
                                    }

                                    <div class="row">
                                        @if (Model.VinResults is not null)
                                        {
                                            <div class="col">
                                                <table id="ResultsTable" class="table table-bordered table-stripped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                ID's
                                                            </th>
                                                            <th>Vehicle key information</th>
                                                            <th>Details</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.VinResults)
                                                        {
                                                            <tr>
                                                                <td style="width:20%" class="py-1">
                                                                    <span class="d-inline badge badge-success">ID : @item.VariableId</span>
                                                                    @if (@item.ValueId is not null)
                                                                    {
                                                                        <small class="d-inline badge badge-info">Value ID : @(item.ValueId ?? "??")</small>
                                                                    }
                                                                </td>
                                                                <td style="width:30%" class="text-truncate py-1">@item.Variable</td>
                                                                <td class="py-1 text-truncate w-50">
                                                                    @if (item.Value is not null)
                                                                    {
                                                                        <span class="text-secondary font-weight-bold text-info">@item.Value</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <small class="text-muted"><i class="fas fa-warning"></i> No avalaible</small>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        }

                                        @if (Model.VinValuesResults is not null)
                                        { 
                                            <div class="col">

                                                <table id="ResultsTable" class="table table-bordered table-stripped table-hover">
                                                    <tbody>

                                                        @foreach (var item in Model.VinValuesResults)
                                                        { 
                                                            <tr>
                                                                <td colspan="5">
                                                                    <!-- info row -->
                                                                    <div class="row invoice-info">
                                                                        <div class="col-sm-4 invoice-col">
                                                                            <i>Vehicle summary</i>
                                                                            <span class="d-block">
                                                                                <b>Make:</b> @($"{item.Make}, {item.Model}")<br>
                                                                                <b>Primary fuel type:</b> <span class="badge badge-success">@item.FuelTypePrimary</span><br>
                                                                                <b>Body class:</b> @item.BodyClass<br>
                                                                                @item.VehicleType
                                                                            </span>
                                                                        </div>
                                                                        <!-- /.col -->
                                                                        <div class="col-sm-4 invoice-col">
                                                                            To
                                                                            <address>
                                                                                <strong>John Doe</strong><br>
                                                                                795 Folsom Ave, Suite 600<br>
                                                                                San Francisco, CA 94107<br>
                                                                                Phone: (555) 539-1037<br>
                                                                                Email: john.doe@example.com
                                                                            </address>

                                                                            <b>Airbag front:</b> @item.AirBagLocFront <br />
                                                                            <b>Airbag lock knee:</b>@(item.AirBagLocKnee ?? "??")<br />
                                                                            <b>Airbag lock setat cushion:</b>@(item.AirBagLocSeatCushion ?? "??")<br/>
                                                                            <b>Airbag lock side:</b>@(item.AirBagLocSide ?? "??")<br/>
                                                                        </div>
                                                                        <!-- /.col -->
                                                                        <div class="col-sm-4 invoice-col">
                                                                            <b>@item.Gvwr</b><br>
                                                                            <br>
                                                                            <b>Plan location:</b> @($"{item.PlantCity}, {item.PlantCountry}")<br>
                                                                            <b>Vehicle model year:</b> @item.ModelYear<br>
                                                                            <b>Manufacturer:</b> @item.Manufacturer
                                                                        </div>
                                                                        <!-- /.col -->
                                                                    </div>
                                                                    <!-- /.row -->
                                                                    <hr />
                                                                    <p>
                                                                        <b class="d-block">Other information about the restraint system:</b>
                                                                        @item.OtherRestraintSystemInfo
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>

                                            </div>
                                        }
                                    </div>

                                }

                            </div>
                        </div>
                    </div>
                </div>
            }
        }
</section>

@section Scripts
    {
    <!-- DataTables  & Plugins -->
    <script src="lib/datatables/jquery.dataTables.min.js"></script>
    <script src="lib/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script>
        //$.validator.setDefaults({
        //    submitHandler: function () {
        //        alert("Form successful submitted!");
        //    }
        //});
        $('#SearchForm').validate({
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        $('#ResultsTable').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });

    </script>
}